# Python Statements

## If, elif, else statements

Control flow syntax in Python makes use of colons and indentation (whitespace).

Syntax:

``` python
if some_condition:
    # execute some code
elif some_other_condition:
    # do something different
else:
    # do something else
```

In [3]:
hungry = True

if hungry:
    print("FEED ME!")
else:
    print("I'm not hungry")

FEED ME!

In [4]:
hungry = False

if hungry == True:
    print("FEED ME!")
else:
    print("I'm not hungry")

I'm not hungry

In [6]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
else:
    print("I do not know much.")

Money is cool!

## For loops

Many objects in Python are **iterable**, meaning you can iterate over the object (e.g. you can iterate over every character in a string or every item in a list).

Syntax:

``` python
my_iterable = [1,2,3]

for item_name in my_iterable:
    # do something
```

In [7]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [8]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [9]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [11]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [12]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [13]:
# Alternative syntax for when the item variable
# is not going to be used
for _ in "Hello World":
    print("Cool!")

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [16]:
mylist = [(1,2), (3,4), (5,6), (7,8)]
len(mylist)

4

In [17]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [20]:
# Tuple unpacking
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [21]:
mylist = [(1,2,3), (5,6,7), (8,9,10)]

In [22]:
for a,b,c in mylist:
    print(b)

2
6
9

In [24]:
d = {'k1':1, 'k2':2, 'k3':3}

In [25]:
# By default you iterate over the keys
for item in d:
    print(item)

k1
k2
k3

In [27]:
for key,value in d.items():
    print(key)
    print(value)

k1
1
k2
2
k3
3

## While loops

Continue to execute a block of code while some condition remains true.

Syntax:

``` python
while some_boolean_condition:
    # do something
else:
    # do something different
```

In [30]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x+1
else:
    print("X IS NOT LESS THAN 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

## break, continue, pass

- break: breaks out of the current closest enclosing loop
- continue: goes to the top of the closest enclosing loop
- pass: does nothing at all

In [31]:
x = [1,2,3]

for item in x:
    pass  # You need to write something inside a block,
          # cannot be empty or contain only a comment
          # 'pass' can be used as a placeholder
        
print("End of my script")

End of my script

In [32]:
mystring = "Sammy"

In [33]:
for letter in mystring:
    if letter == 'a':
        continue    # Do not print the letter 'a'
    print(letter)

S
m
m
y

In [34]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [36]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

## Useful operators

### range

In [40]:
# Range: start, up to (but not including), step
for num in range(3,10,2):
    print(num)

3
5
7
9

In [41]:
# Get a list of numbers
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

### enumerate

In [42]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [43]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [44]:
# Tuple unpacking
for index, letter in enumerate(word):
    print(f'At index {index} the letter is {letter}')

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

### zip

In [46]:
mylist1 = [1,2,3]
mylist2 = ['a', 'b', 'c']

In [47]:
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [48]:
# Uneven lists
mylist3 = [100, 200, 300, 400]

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

### in

In [49]:
'x' in [1,2,3]

False

In [50]:
'x' in ['x', 'y', 'z']

True

In [51]:
'a' in 'a world'

True

In [52]:
# Works in dictionaries, for their keys
'mykey' in {'mykey': 10}

True

In [53]:
d = {'mykey': 10}
10 in d.values()

True

In [54]:
10 in d.keys()

False

In [55]:
min(mylist1)

1

In [56]:
max(mylist2)

'c'

In [58]:
# random is a built-in library
from random import shuffle

In [59]:
mylist = list(range(10))

In [61]:
# shuffle operates in place
shuffle(mylist)
print(mylist)

[1, 5, 6, 9, 2, 0, 8, 4, 3, 7]

In [62]:
from random import randint

In [63]:
randint(0,100)

18

In [64]:
randint(0,100)

94

### Accept user input

In [66]:
result = input("Enter a number here: ")

Enter a number here:  10

In [67]:
print(result)

10

In [69]:
# Input always accept things as strings
type(result)

str

## List comprehensions

List comprehensions are a way to quickly create lists.

In [71]:
mystring = 'hello'

mylist = []

In [72]:
for letter in mystring:
    mylist.append(letter)

In [73]:
print(mylist)

['h', 'e', 'l', 'l', 'o']

In [74]:
# The same thing in a single line
[letter for letter in mystring]

['h', 'e', 'l', 'l', 'o']

In [75]:
mylist = [num**2 for num in range(0,11)]
print(mylist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [76]:
mylist = [x for x in range(0,11) if x % 2 == 0]

In [77]:
print(mylist)

[0, 2, 4, 6, 8, 10]

In [78]:
celsius = [0, 10, 20, 34.5]

fahrenheit = [(9/5)*temp + 32 for temp in celsius]

print(fahrenheit)

[32.0, 50.0, 68.0, 94.1]

In [79]:
# If/else statements are reversed
results = [x if x%2==0 else 'ODD' for x in range(0,11)]
print(results)

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

## Nested loop

In [81]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)
        
print(mylist)

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [82]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
print(mylist)

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]