# String immutability

Strings are not mutable, i.e. you cannot use indexing to change individual elements of a string.

In [1]:
name = "Sam"

In [2]:
# name[0] = 'P'    This will cause an error
name = 'P' + name[1:]
print(name)

Pam

# String concatenation

In [3]:
x = 'Hello World!'

In [4]:
x = x + "It is a beautiful day!"
print(x)

Hello World!It is a beautiful day!

In [5]:
letter = 'z'
print(letter*10)

zzzzzzzzzz

Trying to concatenate a string with a number will result in an error.

In [6]:
print(2+3)

5

In [7]:
print('2'+'3')

23

# String methods

In [8]:
x.upper()

'HELLO WORLD!IT IS A BEAUTIFUL DAY!'

Methods do not affect the original string.

In [9]:
print(x)

Hello World!It is a beautiful day!

In [10]:
x.lower()

'hello world!it is a beautiful day!'

In [11]:
# Creates a list out of a string, based on whitespace (default)
# or on a character you pass in
x.split()

['Hello', 'World!It', 'is', 'a', 'beautiful', 'day!']

In [12]:
x.split('!')

['Hello World', 'It is a beautiful day', '']

Note that the split character does not appear on the list.

# String formatting

## Using the .format() method

In [13]:
print("This is a string {}".format("INSERTED"))

This is a string INSERTED

Strings can be inserted by index position:

In [14]:
print("The {2} {1} {0}".format('fox', 'brown', 'quick'))

The quick brown fox

In [15]:
print("The {0} {0} {0}".format('fox', 'brown', 'quick'))

The fox fox fox

You can assign keywords:

In [16]:
print("The {q} {b} {f}".format(f='fox', b='brown', q='quick'))

The quick brown fox

Float formatting: the format is `value:width.precision f`

In [17]:
result = 100/777
print(result)

0.1287001287001287

In [18]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [19]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [20]:
print("The result was {r:10.3f}".format(r=result))

The result was      0.129

## String literals

In [21]:
name = "Jose"

In [22]:
print("Hello, his name is {}".format(name))

Hello, his name is Jose

String literal method: new from Python 3.6

In [23]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [24]:
name = "Sam"
age = 3
print(f'{name} is {age} years old.')

Sam is 3 years old.

# Lists

Ordered sequences that can hold a variety of object types.

In [25]:
my_list = [1, 2, 3]

In [26]:
my_list = ['STRING', 100, 23.2]

In [27]:
len(my_list)

3

In [28]:
mylist = ['one', 'two', 'three']
print(mylist[0])

one

In [29]:
mylist[1:]

['two', 'three']

Concatenate lists together:

In [30]:
another_list = ['four', 'five']

In [31]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

Lists are mutable:

In [32]:
mylist[0] = 'ONE ALL CAPS'
print(mylist)

['ONE ALL CAPS', 'two', 'three']

Add an element to a list:

In [33]:
# The append method modifies the list in place
mylist.append('six')
print(mylist)

['ONE ALL CAPS', 'two', 'three', 'six']

In [34]:
mylist.append('seven')
print(mylist)

['ONE ALL CAPS', 'two', 'three', 'six', 'seven']

Remove elements from a list:

In [35]:
# Remove an element from the end of the list
mylist.pop()

'seven'

In [36]:
print(mylist)

['ONE ALL CAPS', 'two', 'three', 'six']

In [37]:
# Pass an index position
mylist.pop(0)
print(mylist)

['two', 'three', 'six']

## Sort a list

In [38]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4, 1, 8, 3]

In [39]:
# Sort in place
new_list.sort()
print(new_list)

['a', 'b', 'c', 'e', 'x']

Note: the `sort()` method does not return anything (actually returns `NoneType`)

In [40]:
num_list.reverse()
print(num_list)

[3, 8, 1, 4]

# Dictionaries

Dictionaries are unordered mappings for storing objects. Dictionaries use key-value pairing - objects are retrieved by key name.

Keys should always be strings.

In [41]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [42]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [43]:
my_dict['key1']

'value1'

In [44]:
prices_lookup = {'apple': 2.99, 'oranges': 1.99, 'milk': 5.80}

In [45]:
prices_lookup['apple']

2.99

Dictionaries can hold many data types, including lists or other dictionaries.

In [46]:
d = {'k1': 123, 'k2': [0,1,2], 'k3':{'insideKey': 100}}

In [47]:
d['k2']

[0, 1, 2]

In [49]:
d['k3']['insideKey']

100

In [50]:
d = {'key1': ['a', 'b', 'c']}

In [51]:
# Change the letter 'c' to uppercase, stacking calls
d['key1'][2].upper()

'C'

Add an element (key-value pair) to a dictionary:

In [52]:
d['key2'] = 300

In [53]:
d

{'key1': ['a', 'b', 'c'], 'key2': 300}

Change a value:

In [55]:
d['key2'] = 'NEW VALUE 300'
print(d)

{'key1': ['a', 'b', 'c'], 'key2': 'NEW VALUE 300'}

## Dictionary methods

In [56]:
d = {'k1':100, 'k2':200, 'k3':300}
d.values()

dict_values([100, 200, 300])

In [57]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [58]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

# Tuples

Similar to lists, but they are immutable.

In [59]:
t = (1,2,3)
mylist = [1,2,3]

In [60]:
type(t)

tuple

In [61]:
type(mylist)

list

In [62]:
len(t)

3

In [63]:
t = ('one', 2)

In [64]:
t[-1]

2

Built-in methods for tuples: there are only two

In [65]:
t = ('a', 'a', 'b')

# How many times the element appears in the tuple
t.count('a')

2

In [66]:
# First time an element appears in the tuple
t.index('a')

0

In [67]:
t.index('b')

2

# Sets

Unordered collections of unique elements.

In [68]:
# Create an empty set
myset = set()

In [69]:
# Add one object
myset.add(1)

In [70]:
myset

{1}

In [71]:
myset.add(2)
print(myset)

{1, 2}

If you try to add a value that's already on the set, Python won't repeat it.

In [72]:
mylist = [1,1,1,1,1,2,2,2,2,2,2]
set(mylist)

{1, 2}

# Booleans

Booleans are operators that allow you to convey **True** or **False** statements.

In [73]:
type(False)

bool

In [74]:
1 > 2

False

In [75]:
1 == 1

True

# Simple I/O

Using Jupyter's "magic" functionality to quickly write a text file:

In [76]:
%%writefile myfile.txt
Hello this is a text file
This is the second line
this is the third line

Writing myfile.txt

In [77]:
myfile = open('myfile.txt')

Current working directory:

In [78]:
pwd

'/home/vagrant/python_bootcamp'

In [79]:
# Returns a giant string with everything that's in the file
myfile.read()

'Hello this is a text file\nThis is the second line\nthis is the third line\n'

To reread the file you need to reset the read cursor:

In [80]:
myfile.read()

''

In [81]:
myfile.seek(0)

0

In [82]:
contents = myfile.read()
print(contents)

Hello this is a text file
This is the second line
this is the third line

In [84]:
# Return the lines in the file as a list
myfile.seek(0)
myfile.readlines()

['Hello this is a text file\n',
 'This is the second line\n',
 'this is the third line\n']

In [85]:
# Close the file to finish
myfile.close()

To avoid having to manually close the file:

In [86]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [87]:
contents

'Hello this is a text file\nThis is the second line\nthis is the third line\n'

## File locations

To open files at another location on your computer, simply pass in the entire file path.

Windows: you need to use double `\` so Python doesn't treat the second `\` as an escape character, e.g.

``` python
myfile = open("C:\\Users\\UserName\\Folder\\text.txt")
```

For MacOS and Linux:

``` python
myfile = open("/Users/UserName/Folder/text.txt")
```

## Reading and writing to file

Depending on the mode you choose you can read or write to file (permissions).

- **mode='r'** is read-only
- **mode='w'** is write-only (will overwrite files or create new)
- **mode='a'** is append only (will add on to files)
- **mode='r+'** is reading and writing
- **mode='w+'** is writing and reading (overwrites existing files or creates a new one)

In [88]:
with open('myfile.txt', mode='r') as myfile:
    contents = myfile.read()

In [89]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [90]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [91]:
# Add a new line
with open('my_new_file.txt', mode='a') as f:
    f.write('FOUR ON FOURTH')

In [92]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH